<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750597377279-rhmgujl3c3d30ps6bjulnknabe30gkbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750597377279-rhmgujl3c3d30ps6bjulnknabe30gkbq</string>
	<key>API_KEY</key>
	<string>AIzaSyA5O5NbjHqrmRO3pYYjtBS5ZQK4nMdG-sk</string>
	<key>GCM_SENDER_ID</key>
	<string>750597377279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mainapp</string>
	<key>PROJECT_ID</key>
	<string>spydemedia</string>
	<key>STORAGE_BUCKET</key>
	<string>spydemedia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750597377279:ios:3b6e8090f24aaa1b3010ca</string>
</dict>
</plist>